<mat-toolbar color="primary" layout="row" style="position: fixed;">
  <button mat-icon-button class="menu-icon">
      <mat-icon (click)="sidenav.toggle()" class="mat-24" aria-label="Menu">menu</mat-icon>
  </button>
  <span>
      <h2>APP</h2>
  </span>
  <span class="toolbar-spacer"></span>
  <span class="d-none d-md-inline">
    <button mat-button class="nav-button" *ngFor="let item of navigation"
        [routerLink]="[item.link]" routerLinkActive="active">
      {{item.label}}
    </button>
  </span>
  <mat-icon class="toolbar-icon">settings</mat-icon>
</mat-toolbar>
<mat-sidenav-container fullscreen style="margin-top: 75px !important;">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <h4 class="subheader">Menu</h4>
  </mat-sidenav>
  <div class="content">
    <mat-card class="z-depth">
      <mat-card-title>Aplicação de Referência</mat-card-title>

    </mat-card>    
    <div style="padding: 5px;"></div>

    <div class="content"
    [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
    <router-outlet #o="outlet"></router-outlet>

</div>
  </div>
</mat-sidenav-container>